#Cart{
  position:absolute; 
  left:930px;
  
}
.shopping{
  background-color: rgb(255, 208, 0);
}
#body{
  background-color: white;
}
.card{
  background-color: whitesmoke;
}

.cart-icon{
  
  width:220px;
}


.cart_button{
  border-bottom: solid rgb(204, 202, 202);
  width:100%;
  padding-left:150px
}
.title{
  color:white;
  font-size: xx-large;
  font-family: fantasy;
}
.cart_items{
  font-size: medium;
  background-color: whitesmoke;
  padding-left:150px
}
h7{
  padding-left:20px;
}
